@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    list-style: none;
    text-decoration: none;;
}


header {
    width: 100%; 
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    margin-top: -10px;
}

.logo img {
    width: 100px;
}

.logo h1 {
    color: #424c38;
    padding: 10px 0;
    font-family: 'Playfair Display', serif;
}

.hamburger {
    display: none; 
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    position: relative;
    display: block;
    color: #424c38;
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 30px;
    letter-spacing: 0.5px;
}


.nav-bar ul li a:after {
    content: "";
    position: absolute;
    background-color: #424c38;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;
}

.nav-bar ul li a:hover:after {
    width: 100%;    
}
.btn {
    font-size: 18px;
    margin-left: 40px;
    color: #424c38;
    padding: 10px 50px;
    min-width: 200px;
    border: 2px solid #424c38;
    cursor: pointer;
    color: color 0.4s linear;
    position: relative;
    transition: 0.3s all ease-in-out 0s;
    overflow: hidden;
    z-index: 0;
    background-color: white;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #424c38;
    transition: 0.3s all ease-in-out 0s;
}

.btn:hover::before {
    right: unset;
    left:0;
    width: 100%;
}

@media only screen and (max-width: 1700px) {
    header {
        padding: 0 200px;
    }
}

@media only screen and (max-width: 1600px) {
    header {
        padding: 0 150px;
    }
}

@media only screen and (max-width: 1500px) {
    header {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #424c38;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        width: 100vw;
        background: white;
        transition: 0.3s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 300px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 1s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    #login {
        margin-left: 5px;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

.banner {
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url("Images/forest.jpg");
    background-size: cover;
    height: 100vh;
}