@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    height:fit-content;
    background-color: #f0ecec;
}

header {
    width: 100%; 
    height: 70px;
    background: #f0ecec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
    font-family: "Montserrat",sans-serif;
    font-weight:normal;
    position: fixed;
    border-bottom: 2px solid black;
    z-index: 5;
}

.logo {
    margin-top: -10px;
}

.logo img {
    width: 100px;
}

.logo h1 {
    color: #043927;
    padding: 10px 0;
    font-family: 'Playfair Display', serif;
}

.hamburger {
    display: none; 
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li .not-login {
    position: relative;
    display: block;
    color: #043927;
    font-size: 18px;
    padding: 10px 5px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 30px;
    letter-spacing: 0.5px;
}


.nav-bar ul li .not-login:after {
    content: "";
    position: absolute;
    background-color: #043927;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 1px;
    transition: 0.3s;
}

.nav-bar ul li a:hover:after {
    width: 100%;    
}
.btn {
    font-size: 18px;
    margin-left: 40px;
    color: #043927;
    padding: 10px 50px;
    min-width: 200px;
    border: 2px solid #043927;
    cursor: pointer;
    color: color 0.4s linear;
    position: relative;
    transition: 0.3s all ease-in-out 0s;
    overflow: hidden;
    z-index: 0;
    background-color: #f0ecec;
    font-family: "Montserrat",sans-serif;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #043927;
    transition: 0.3s all ease-in-out 0s;
}

.btn:hover::before {
    right: unset;
    left:0;
    width: 100%;
}

@media only screen and (max-width: 1700px) {
    header {
        padding: 0 200px;
    }
}

@media only screen and (max-width: 1600px) {
    header {
        padding: 0 150px;
    }
}

@media only screen and (max-width: 1500px) {
    header {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #043927;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #f0ecec;
        transition: 0.3s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 300px;
        border-bottom: 2px solid black;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 1s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    #login {
        margin-left: 5px;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

.empty {
    height: 80px;
}
.main {
    width: 100vw;
    height: 77.5vw;
    background-image: url("Images/tree2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 1000px) {
    .main {
        background-image: url("Images/tree2mobile.png");
        background-size: cover;
        height: 100vw;
    }
}

.main h3{
    font-family: 'Marck Script', cursive;
    padding-left: 7vw;
    padding-top: 5vw;
    font-size: 3vw;

}
.main .title {
    margin-left: 6vw;
    margin-top: -1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(Images/text2.png);
    height: 18vw;
    width: auto;
}

.sum {
    display:flex;
    padding: 10vw 10vw;
    justify-content:space-between;
}

.problem {
    font-size: 2vw;
    height:fit-content;
    font-family: 'Unbounded', cursive;
    color: #043927;
}

.info {
    width: 35vw;
    font-size: 1.45vw;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Open Sans', sans-serif;
    color: rgb(88, 88, 88);
}

.image1 {
    height: 36vw;
    margin-top: 1vw;
    background-image: url(https://media.discordapp.net/attachments/1068942447910072363/1069494607446016000/amon1te3_painting_of_deforestation_with_white_background_lumber_953640cf-d2b7-4386-97b0-f36cbab908db.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title-solution {
    font-size: 2.5vw;
    font-family: 'Unbounded', cursive;
    color: #043927;
    text-align: center;
}

.text-solution {
    font-size: 1.45vw;
    font-family: 'Open Sans', sans-serif;
    color: rgb(88, 88, 88);
    text-align: center;
    padding: 5vw 10vw;

}

.container {
    padding: 2rem 0;
}

.slider-wrapper {
    position: relative;
    max-width: 55vw;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 0 0.75rem 0 hsla(0, 0%, 0%, 1);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.slider-nav a {
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.4;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.footer {
    margin-top: 5vw;
    background-color: #003d22;
    width: 100%;
    height: 130px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 0;
  }
   
   
  .footer .social {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px; 
  }
   
   
  .footer .social a {
    font-size: 24px;
    color: #f0ecec;
    border: 1px solid #f0ecec;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.8;
  }
   
  .footer .social a:hover {
    opacity: 1;
  }
   
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  }
   
  .footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
   
   
  .footer ul li {
    display: inline-block;
    padding: 0 5px;
  }
   
  .footer ul li a:hover {
    opacity: 1;
  }
    
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #aaaa;
  }